fastapi==0.115.0
uvicorn==0.30.0
sqlalchemy==2.0.35
pymysql==1.1.1
pydantic==2.9.0
pydantic-settings==2.5.0
python-dotenv==1.0.1
cryptography==43.0.1
alembic==1.13.2
python-multipart==0.0.9
bcrypt==4.2.0
PyJWT==2.9.0
python-jose[cryptography]==3.3.0
